.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col-md-6 {
  margin-top: 16px;
}

ul {
  padding: 0;
  line-height: 36px;
}

.card-title {
  font-weight: 600;
}

.row-header{
  margin:0;
  padding:0;
}

.row-content {
  margin:0 auto;
  padding: 50px 0 50px 0;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0 auto;
  padding: 20px 0 20px 0;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0 auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}

.media {
  margin-top: 16px;
  margin-bottom: 42px;
}

.media-middle {
  margin-right: 30px;
}

.media-description {
  margin-top: 16px;
  line-height: 1.6;
}
